@import url(main.scss);
html {
  height: 100%;
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #093637, #44a08d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #093637, #44a08d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.card.glass {
  margin: 25vh 15vw;
  border: #f1f1f1 1px solid;
  background-color: rgba(242, 242, 242, 0.3);
  backdrop-filter: blur(10px);
}
.card-header {
  text-align: center;
  flex-direction: column;
}
.card-content {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content ul li {
  display: flex;
  justify-content: space-between;
  padding: 1vw 7vw;
  font-size: 1.5em;
  color: white;
  height: 10vh;
  width: 100%;
  /* checkbox custom*/
}
.card-content ul li .checkbox-custom {
  margin: 0.5em;
}
.card-content ul li .checkbox-custom .tgl {
  display: none;
}
.card-content ul li .checkbox-custom .tgl::after, .card-content ul li .checkbox-custom .tgl::before, .card-content ul li .checkbox-custom .tgl *, .card-content ul li .checkbox-custom .tgl *::after,
.card-content ul li .checkbox-custom .tgl *::before, .card-content ul li .checkbox-custom .tgl + .tgl-btn {
  box-sizing: border-box;
}
.card-content ul li .checkbox-custom .tgl::-moz-selection, .card-content ul li .checkbox-custom .tgl::after::-moz-selection, .card-content ul li .checkbox-custom .tgl::before::-moz-selection, .card-content ul li .checkbox-custom .tgl *::-moz-selection, .card-content ul li .checkbox-custom .tgl *::after::-moz-selection, .card-content ul li .checkbox-custom .tgl *::before::-moz-selection, .card-content ul li .checkbox-custom .tgl + .tgl-btn::-moz-selection, .card-content ul li .checkbox-custom .tgl::selection, .card-content ul li .checkbox-custom .tgl::after::selection, .card-content ul li .checkbox-custom .tgl::before::selection, .card-content ul li .checkbox-custom .tgl *::selection, .card-content ul li .checkbox-custom .tgl *::after::selection, .card-content ul li .checkbox-custom .tgl *::before::selection, .card-content ul li .checkbox-custom .tgl + .tgl-btn::selection {
  background: none;
}
.card-content ul li .checkbox-custom .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 2em;
  height: 1em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card-content ul li .checkbox-custom .tgl + .tgl-btn::after, .card-content ul li .checkbox-custom .tgl + .tgl-btn::before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.card-content ul li .checkbox-custom .tgl + .tgl-btn::after {
  left: 0;
}
.card-content ul li .checkbox-custom .tgl + .tgl-btn::before {
  display: none;
}
.card-content ul li .checkbox-custom .tgl:checked + .tgl-btn::after {
  left: 50%;
}
.card-content ul li .checkbox-custom .tgl-light + .tgl-btn {
  border: #f1f1f1 2px solid;
  background: rgba(240, 240, 240, 0);
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.card-content ul li .checkbox-custom .tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}
.card-content ul li .checkbox-custom .tgl-light:checked + .tgl-btn {
  background: #44a08d;
}
.card-content ul li p {
  color: black;
  width: 100%;
  padding: 0 1em;
}
.card .input-field {
  width: 70%;
}

/*# sourceMappingURL=style.css.map */
