@import url(main.scss);
// $title-color: $turquoise;

html {
  height: 100%;
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #093637,
    #44a08d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #093637,
    #44a08d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.card {
  &.glass {
    margin: 25vh 15vw;
    border: #f1f1f1 1px solid;
    background-color: rgb(242, 242, 242, 0.3);
    backdrop-filter: blur(10px);
  }

  &-header {
    text-align: center;
    flex-direction: column;
  }

  &-content {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    & ul {
      & li {
        font-size: 1.1em;
        color: white;
        width: 50vw;
        height: 0.2em;
        & .checkbox {
          margin: 1em;
          width: 1em;
          height: 1em;
        }
      }
    }
  }

  & .input-field {
    width: 70%;
  }
}

// <div class="checkbox-wrapper-3">
// <input type="checkbox" id="cbx-3" />
// <label for="cbx-3" class="toggle"><span></span></label>
// </div>

// <style>
// .checkbox-wrapper-3 input[type="checkbox"] {
//   visibility: hidden;
//   display: none;
// }

// .checkbox-wrapper-3 .toggle {
//   position: relative;
//   display: block;
//   width: 40px;
//   height: 20px;
//   cursor: pointer;
//   -webkit-tap-highlight-color: transparent;
//   transform: translate3d(0, 0, 0);
// }
// .checkbox-wrapper-3 .toggle:before {
//   content: "";
//   position: relative;
//   top: 3px;
//   left: 3px;
//   width: 34px;
//   height: 14px;
//   display: block;
//   background: #9A9999;
//   border-radius: 8px;
//   transition: background 0.2s ease;
// }
// .checkbox-wrapper-3 .toggle span {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 20px;
//   height: 20px;
//   display: block;
//   background: white;
//   border-radius: 10px;
//   box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
//   transition: all 0.2s ease;
// }
// .checkbox-wrapper-3 .toggle span:before {
//   content: "";
//   position: absolute;
//   display: block;
//   margin: -18px;
//   width: 56px;
//   height: 56px;
//   background: rgba(79, 46, 220, 0.5);
//   border-radius: 50%;
//   transform: scale(0);
//   opacity: 1;
//   pointer-events: none;
// }

// .checkbox-wrapper-3 #cbx-3:checked + .toggle:before {
//   background: #947ADA;
// }
// .checkbox-wrapper-3 #cbx-3:checked + .toggle span {
//   background: #4F2EDC;
//   transform: translateX(20px);
//   transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
//   box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
// }
// .checkbox-wrapper-3 #cbx-3:checked + .toggle span:before {
//   transform: scale(1);
//   opacity: 0;
//   transition: all 0.4s ease;
// }
// </style>
