@import "./main.scss";
// $title-color: $turquoise;

html {
  height: 100%;
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #093637,
    #44a08d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #093637,
    #44a08d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.card {
  &.glass {
    margin: 25vh 15vw;
    border: #f1f1f1 1px solid;
    background-color: rgb(242, 242, 242, 0.3);
    backdrop-filter: blur(10px);
  }

  &-header {
    text-align: center;
    flex-direction: column;
  }

  &-content {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    & ul {
      & li {
        display: flex;
        justify-content: space-between;
        padding: 1vw 7vw;
        font-size: 1.5em;
        color: white;
        height: 10vh;
        width: 100%;
        /* checkbox custom*/
        .checkbox-custom {
          margin: 0.5em;
          & .tgl {
            display: none;
            &::after,
            &::before,
            & *,
            & *::after,
            *::before,
            & + .tgl-btn {
              box-sizing: border-box;
            }
            &::-moz-selection,
            &::after::-moz-selection,
            &::before::-moz-selection,
            & *::-moz-selection,
            & *::after::-moz-selection,
            & *::before::-moz-selection,
            & + .tgl-btn::-moz-selection,
            &::selection,
            &::after::selection,
            &::before::selection,
            & *::selection,
            & *::after::selection,
            & *::before::selection,
            & + .tgl-btn::selection {
              background: none;
            }
            & + .tgl-btn {
              outline: 0;
              display: block;
              width: 2em;
              height: 1em;
              position: relative;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              &::after,
              &::before {
                position: relative;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
              }
              &::after {
                left: 0;
              }
              &::before {
                display: none;
              }
            }
            &:checked + .tgl-btn::after {
              left: 50%;
            }
          }
          & .tgl-light + .tgl-btn {
            border: #f1f1f1 2px solid;
            background: #f0f0f000;
            border-radius: 2em;
            padding: 2px;
            transition: all 0.4s ease;
            &:after {
              border-radius: 50%;
              background: #fff;
              transition: all 0.2s ease;
            }
          }
          & .tgl-light:checked + .tgl-btn {
            background: #44a08d;
          }
        }
        //end  of checkbox custom
        p {
          color: black;
          width: 100%;
          padding: 0 1em;
        }
      }
    }
  }

  & .input-field {
    width: 70%;
  }
}
